<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/m.js"></script>
</head>
<body>


    <nav>

        <span>The world of stories</span>

            <ul>
                <li><a href="">Genre</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About us</a></li>

            </ul>
       
    </nav>


    <main id="main-page">


            <div id="container">
    
                <% if (data.question.image!="null"){%>

                <div id="img-holder">
                    <img id="question-img" src="<%= data.question.image %>" alt="question image">
                </div>
                <%}%>


                <div id="title-holder">

               

                     <audio id="myAudio" src="<%= data.question.audio %>"></audio>

                     <% if (data.question.audio!="null"){ %>
                        
                        <i onclick="myfunc()" class="far fa-play-circle" id="play-btn"></i>

                        <script>
                               function myfunc(){
                                document.getElementById('myAudio').play();
                               }
                        </script>

                     <% } %>                   


                          <p id="question"><%= data.question.context %></p>
                </div>


                    <div id="div-form">
                           

                                <%  for(var i = 0; i< data.children.length ; i++){ 

                                    %>   

                                    <form action="/question" method="POST" >
                                        <input type="hidden" name="q_id" value= "<%= data.children[i].id %>" >
                                        <input type="hidden" name="q_context" value="<%= data.children[i].context %>">
                                        <input type="hidden" name="q_image" value="<%= data.children[i].image %>">
                                        <input type="hidden" name="q_audio" value="<%= data.children[i].audio %>">
                                        <input type="submit" value="<%= data.children[i].context %>" class="btn-option">
                                    </form>
                                    
                                     <% } %> 
                                         
                      
                    </div> 
    
            </div>
    
        </main>
   

</body>
</html>